spring:
  application:
    name: knobot-web
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
    url: jdbc:mysql://localhost:3306/knobot?useUnicode=true&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false&characterSetResults=utf8mb4&connectionCollation=utf8mb4_unicode_ci
  mail:
    username: 3979892804@qq.com
    password:
    host: smtp.qq.com
    port: 587
    default-encoding: UTF-8
    properties:
      mail:
        #配置SSL 加密工厂
        smtp:
          starttls:
            required: true
          ssl:
            #本地测试，先放开ssl
            enable: false
            required: false
          #开启debug模式，这样邮件发送过程的日志会在控制台打印出来，方便排查错误
        debug: false
  data:
    redis:
      host:
      port: 6379
      database: 15

server:
  port: 8080

# MyBatis Configuration
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

# LangChain4j Configuration
langchain4j:
  community:
    dashscope:
      tokenizer:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: qwen-plus
      # LLM
      chat-model:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: qwen-plus
        temperature: 0.7
      # Streaming LLM
      streaming-chat-model:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: qwen-plus
      # Embedding model
      embedding-model:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: text-embedding-v3
        dimensions: 1024

# PgVector Configuration
pgvector:
  database: vecdb
  host:
  port: 5432
  user: postgres
  password: postgres
  table: vectors_db

search:
  engine: google
  api-key: a3NXKiXu2AiRg68BJBiegThg

llm:
  apikey:
  model: deepseek-reasoner
  baseUrl: https://api.deepseek.com

mail:
  from-address: 3979892804@qq.com
  to-address: 2023321332@qq.com

upload:
  way: local